body {
    background-color: #3E1A78;
    font-family: Arial, sans-serif;
    text-align: center;
}

#visited-ids {
    display: none;
}

p {
    color: #FFFFFF;
}

button, input, label {
    display: block;
    margin: 1rem auto;
    width: 16rem;
    border: 0.175rem solid #B694FD;
    background-color: #3E1A78;
    color: #FFFFFF;
    padding: 0.25rem;
    box-sizing: border-box;
}

.mb {
    margin-bottom: 5rem;
}

#loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content-container {
    padding: 20px;
}

* { box-sizing: border-box; }

.single-image img {
    width: 100%;
}

.grid {
  background: #3E1A78;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item.large {
    width: 66.666%;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.custom-file-input {
    position: relative;
    width: 16rem;
    margin: 1rem auto;
}

.custom-file-input input {
    display: none;
}

.custom-file-input label {
    cursor: pointer;
    color: #757575;
    font-size: 13px;
    text-align: left;
}

#file-name {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
    font-size: 12px;
    text-align: left;
}

input[type=submit]:disabled {
    color: #757575;
}
